<html>
    <p>This is the default route. You get here if you use the browser to open a path that is not a valid GET request path.</p>
    <p>See examples of valid requsts below:</p>

    <p>
        <code>
            curl -X PUT \
            http://localhost:8210/hero
            -H 'content-type: application/json' \
            -d '{
            "name": "Batman",
            "strength": 8
            }'
        </code>
    </p>

    <p>
        <code>
            curl -X GET \
            http://localhost:8210/hero/Batman
        </code>
    </p>

    <p>
        <code>
            curl -X GET \
            http://localhost:8210/hero/list
        </code>
    </p>

    <p>
        <code>
            curl -X DELETE \
            http://localhost:8210/hero/Super%20Woman
        </code>
    </p>
</html>